* {
    margin: 0px;
    outline: red dashed 1px;
    
}
.container {
    background-color: darkblue;
    width: 970px;
    margin: 0px auto;
}
header img {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
#headerRight {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
#searchBar {
    padding:20px;
    width: 60%;
    margin-left: 250px;
    background-color: rgb(54, 52, 52);
    border-radius: 15px;
    box-shadow: 8px 5px 5px black;
}
header p {
    width: 40%;
    margin-left: 320px;
}