* {
    margin: 0;
    outline: red dashed 1px;
    
}
.container {
    background-color: darkblue;
    width: 970px;
    margin: 0 auto;
}
header {
    width: 100%;

}
header p {
    width: 20%;
    margin-left: 15%;
    display: inline-block;
    vertical-align: top;
   
}
#searchBar  {
    padding: 20px;
    background-color: rgb(32, 31, 31);
    width: 22%;
    border-radius: 10%;
    margin-left:65%;
    vertical-align: top;
    display: inline-block;
    
}

